/* header */
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.conteiner1{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    
}

.logo{
    justify-content: left;
    display: flex;
    align-items: center;
}
.link{
    display: flex;
    justify-content: center;
}

/* main */
/* container */

.conteiner2{
    display: flex;
    align-items: center;
    padding:40px;
    justify-content: center;
}
.conteiner-tasti{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.grigio{
    background-color: rgba(240, 240, 240, 0.838);
    text-align: center;
}
.scuro{
    background-color: rgb(31, 31, 31);
}
.conteiner3{
    display: flex;
    min-height: 200px;
    align-items:flex-start;
    justify-content:center;
    padding: 0px 120px 0 120px;
    background-color: rgb(31, 31, 31);   
}

.box1{
    text-align: center;
    word-wrap: break-word;
    align-items: center;
    width: 600px;
}


.foto{
    height: 500px;
    justify-content:flex-start;
    min-width: 20%;
    padding-top: 20px;
}

.descrizione{
    height: 500px;
    min-width: 20%;
    justify-content:flex-start;
}
.destro{
    text-align: left;
    word-wrap: break-word;
    width: 200px;
    padding-top: 20px;
}
.sinistro{
    text-align: left;
    word-wrap: break-word;
    width: 200px;
    padding-top: 50px;
}
.mago{
    order:1;
}

.box4{
    justify-content: center;
    width: 800px;
    align-items: center;
}

.box5{
    min-width: 10%;
    height: 500px;
    display: flex;
    justify-content: center;
}

/* footer */
.box6{
    min-width: 100%;
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo2{
    min-width: 5%;
    justify-content: center;
    align-items: center;
}

/* style tasti */
.tasto-accedi{
    background-color: white;
    border: solid black 1px;
    border-radius: 20%;
    padding: 10px;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;

}
.tasto-scarica{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white;
    border-radius: 20%;
    padding: 10px;
    font-size: 12px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.tasto-apri{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black;
    border-radius: 20%;
    padding: 10px;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasto-registrati{
    background-color:rgba(4, 141, 245, 0.956);
    border: solid rgba(4, 141, 245, 0.956);
    border-radius: 20%;
    padding: 10px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 15px;
}
.tastoblu{
    background-color:rgba(4, 141, 245, 0.956);  
    color: white;
    margin: 0px;
}

/* style testo */

h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;

}
p{
    color:  white;
    font-family:Arial, Helvetica, sans-serif;
}
.testo-box{
    color: black;
}

.navigatore{
    margin: 40px;
    color: white;  
}
h2{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h3{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -30px;
}
h4{
    color:  rgba(4, 141, 245, 0.956);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
span{
    color:  white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
ul{
   list-style: none;
   line-height: 30px;
   margin-top: 40px;
}
li{
    color:  white;
    font-family:Arial, Helvetica, sans-serif;
}
.primolista{
    color:  rgba(4, 141, 245, 0.956);
    font-family:Arial, Helvetica, sans-serif;
}

/* immagini */
.rana{
    height: 300px;
}
.mago{
    height: 500px;
}
.libro{
    height: 500px;
}
.bandiera{
    width: 25px;
}
.icon{
    margin-top: 10px;
    letter-spacing: 5px;
}